#informations {
	max-width 				: 800px;
	margin					: auto;
}

.titre {
	text-align				: center;
	margin-bottom 			: 40px;
}

.hexagonePhoto {
	width					: 300px;
	height					: 300px;
}

.hexagonePhoto text {
	display 				: none;
}

.hexagonePhoto text.display {
	display 				: block;
}

.hexagonePhoto:hover {
	opacity 				: 0.7;
}

.right {
	float 					: right;
}